boby {
    background: pink;
}

h1 {
    background: red;
}

.pr {
    background: yellow;
    font-size: 32pt;
    color: green;
}

.pr2 {
    border: 10px solid yellow;
    border-radius: 10px;
    font-size: 32px;
    margin-top: 60px;
    padding-bottom: 60pt;
    padding-left: 20px;

}

.pr3 {
    font-style: italic;
    text-align: center;
    font-size: 24px;
    text-shadow: green 2px 0px;
}